*{
	box-sizing: border-box;
}
body{
	width: 96%;
	background-color: rgb(90, 231, 156);
	height: 100%;

} 
main{
	display: flex;
	justify-content: right;

}
.modal{
	padding: 10px;
	width: 200px;
	height: 200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	border: 3px solid black;
}
.close{
	margin: 5px 0 0 10px;
	height: 14px;
	width: 10px;
	border: 2px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.btn_element{
	width: 140px;
	height: 24px;

}